.label {
    color: white;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 300;
}

.label-medium {
    color: white;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 500;
}

.label-barrato {
    color: white;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 300;
    text-decoration-line: line-through;

} 

.task {
    display: flex;
    margin-bottom: 40px;
    
    
}

.task-icon {
    
    cursor: pointer;
}

.checkBox-icon {
    margin-left: 40px;
    margin-right: 24px;

}